@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.App{
  background-color: #c0d1f3;
  min-height: 100vh;
  display: flex;
}


.App-header {
  
 
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
}

